@{
    ViewData["Title"] = "Home Page DZ#1";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <div style="text-align: center;">
        <form method="post" asp-controller="Resume" asp-action="MyResume">
            <button>My resume</button>
        </form>
    </div>
</div>
