@{
    ViewData["Title"] = "Home Page DZ#2";
}

<div class="text-center">
    <h1 class="display-4">Hub</h1>
    <div style="text-align: center;">
        <form method="post" asp-controller="Food" asp-action="GetFood">
            <button>Menu</button>
        </form>
    </div>
</div>
